{% extends 'layout.html' %}

{% block content %}
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/">首页</a>
            </li>
            <li class="active">欢迎</li>
        </ul><!-- .breadcrumb -->
        <div>
            <h1>欢迎来到前置管理，这是一个统一前置管理后台。在本后台可以管理
                <blockquote><p>1.管理本系统存储信息的数据库配置信息。</p></blockquote>
                <blockquote><p>2.基础信息维护，比如在端口绑定中需要用到的报文方式、通讯方式等。</p></blockquote>
                <blockquote><p>3.本系统的主要功能：端口绑定，并开启端口监听</p></blockquote>
            </h1>
        </div>
    </div>
{% endblock %}