<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>统一前置管理后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- basic styles -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/bootstrap-table.min.css" rel="stylesheet" />
    <!-- page specific plugin styles -->

    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/toastr.min.css"/>
    {% block mycss %}{% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header theme-blue">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo theme-blue">
            <a href="/"><i class="fa fa-laptop"></i>前置管理</a>
        </div>

        <div class="logo-icon text-center">
            <a href="/"><i class="fa fa-laptop"></i></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">
            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active theme-blue"><a href="/"><i class="fa fa-home"></i> <span>欢迎</span></a></li>
                <li class="menu-list"><a href=""><i class="fa fa-bold"></i> <span>基础数据维护</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="dbset"><i class="fa fa-chain"></i>数据库连接</a></li>
                        <li><a href="tranway"><i class="fa fa-fighter-jet"></i>通讯方式</a></li>
                        <li><a href="msgfmt"><i class="fa fa-th-list"></i>报文格式</a></li>
                        <li><a href="logcfg"><i class="fa fa-file-text-o"></i>日志配置</a></li>

                    </ul>
                </li>

                <li><a href="portbind"><i class="fa fa-sitemap"></i> <span>端口绑定</span></a></li>



            </ul>
            <!--sidebar nav end-->
            <ul class="nav nav-pills nav-stacked custom-nav logout">
                <li><a href="#"><i class="fa fa-power-off"></i> 退出</a></li>
            </ul>
        </div>
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--search start-->
            <!--search end-->

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                            <h5 class="title">Notifications</h5>
                            <ul class="dropdown-list normal-list">
                                <li class="new">
                                    <a href="">
                                        <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                        <span class="name">Server #1 overloaded.  </span>
                                        <em class="small">34 mins</em>
                                    </a>
                                </li>
                                <li class="new"><a href="">See All Notifications</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="images/user.png" alt="" />
                            Admin
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right theme-blue">
                            <li><a href="#"><i class="fa fa-user"></i>  个人资料</a></li>
                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#pwd_dialog"><i class="fa fa-cog"></i>  修改密码</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!--body wrapper start-->
        <div class="wrapper">
            {% block content %}{% endblock %}
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2016 &copy; 统一前置后台管理 by <a href="#" target="_blank">chiron</a>
        </footer>
        <!--footer section end-->

    </div>
    <!-- main content end-->
</section>

<!-- Modal -->
<div class="modal fade" id="pwd_dialog" tabindex="-1" role="dialog" aria-labelledby="pwd_dialog_title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="pwd_dialog_title">修改密码</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="pwd_dialog_form">
                    <div class="form-group">
                        <label for="old_pwd">当 前 密 码</label>
                        <input type="password" class="form-control" id="old_pwd" name="old_pwd">
                    </div>
                    <div class="form-group">
                        <label for="new_pwd">新   密   码</label>
                        <input type="password" class="form-control" id="new_pwd" name="new_pwd">
                    </div>
                    <div class="form-group">
                        <label for="new_pwd1">新密码确认</label>
                        <input type="password" class="form-control" id="new_pwd1" name="new_pwd1">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-info" onclick="change_click();">保存</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap-table.min.js"></script>
<script src="assets/js/bootstrap-table-zh-CN.min.js"></script>
<script src="assets/js/jquery.nicescroll.js"></script>
<!--common scripts for all pages-->
<script src="javascripts/index.js"></script>
<script type="text/javascript" src="javascripts/toastr.min.js"></script>
{% block myscript %}{% endblock %}
</body>
</html>