<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.theme.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/toastr.min.css">
</head>
<body>

    <style type="text/javascript" src="/jquery.min.js"></style>
    <style type="text/javascript" src="/bootstrap.min.js"></style>
    <style type="text/javascript" src="/toastr.min.js"></style>
</body>
</html>