{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <section class="panel">
        <div class="panel-heading">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="/">首页</a>
                </li>
                <li class="active">通讯方式</li>
            </ul><!-- .breadcrumb -->
        </div>
        <div class="panel-body">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-info" href="javascript:void(0);" data-toggle="modal" data-target="#addway_dialog">添加</a>
            </div>

            {% for way in ways %}
            <div class="col-lg-5 col-sm-9 waylist">
                <span class="wayname">{{ way.name}}</span>
                <span class="waydesc">{{ way.desc }}</span>
                <a class="delway" href="javascript:void(0);" onclick="delway_click('{{ way.name}}');">删除</a>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
<script type="text/javascript">
</script>
{% endblock %}